In [266]:
import pandas as pd

In [267]:
df_see1 = pd.read_csv("./2016-us-election/county_facts.csv")
#X = df_see.drop("gene",axis=1).values.astype("int") # to drop the gene column and convert data to int
samples1 = df_see1.columns

In [268]:
samples1

Index(['fips', 'area_name', 'state_abbreviation', 'PST045214', 'PST040210',
       'PST120214', 'POP010210', 'AGE135214', 'AGE295214', 'AGE775214',
       'SEX255214', 'RHI125214', 'RHI225214', 'RHI325214', 'RHI425214',
       'RHI525214', 'RHI625214', 'RHI725214', 'RHI825214', 'POP715213',
       'POP645213', 'POP815213', 'EDU635213', 'EDU685213', 'VET605213',
       'LFE305213', 'HSG010214', 'HSG445213', 'HSG096213', 'HSG495213',
       'HSD410213', 'HSD310213', 'INC910213', 'INC110213', 'PVY020213',
       'BZA010213', 'BZA110213', 'BZA115213', 'NES010213', 'SBO001207',
       'SBO315207', 'SBO115207', 'SBO215207', 'SBO515207', 'SBO415207',
       'SBO015207', 'MAN450207', 'WTN220207', 'RTN130207', 'RTN131207',
       'AFN120207', 'BPS030214', 'LND110210', 'POP060210'],
      dtype='object')

In [269]:
df_see1.head()

,fips,area_name,state_abbreviation,PST045214,PST040210,PST120214,POP010210,AGE135214,AGE295214,AGE775214,...,SBO415207,SBO015207,MAN450207,WTN220207,RTN130207,RTN131207,AFN120207,BPS030214,LND110210,POP060210
0,0,United States,NaN,318857056,308758105,3.3,308745538,6.2,23.1,14.5,...,8.3,28.8,5319456312,4174286516,3917663456,12990,613795732,1046363,3531905.43,87.4
1,1000,Alabama,NaN,4849377,4780127,1.4,4779736,6.1,22.8,15.3,...,1.2,28.1,112858843,52252752,57344851,12364,6426342,13369,50645.33,94.4
2,1001,Autauga County,AL,55395,54571,1.5,54571,6.0,25.2,13.8,...,0.7,31.7,0,0,598175,12003,88157,131,594.44,91.8
3,1003,Baldwin County,AL,200111,182265,9.8,182265,5.6,22.2,18.7,...,1.3,27.3,1410273,0,2966489,17166,436955,1384,1589.78,114.6
4,1005,Barbour County,AL,26887,27457,-2.1,27457,5.7,21.2,16.5,...,0.0,27.0,0,0,188337,6334,0,8,884.88,31.0

In [270]:
df_see2 = pd.read_csv("./2016-us-election/county_facts_dictionary.csv")
#X = df_see.drop("gene",axis=1).values.astype("int") # to drop the gene column and convert data to int
samples2 = df_see2.columns

In [271]:
df_see2.head()

  column_name                                        description
0   PST045214                          Population, 2014 estimate
1   PST040210          Population, 2010 (April 1) estimates base
2   PST120214  Population, percent change - April 1, 2010 to ...
3   POP010210                                   Population, 2010
4   AGE135214               Persons under 5 years, percent, 2014

In [272]:
df_see2["description"]

0                             Population, 2014 estimate
1             Population, 2010 (April 1) estimates base
2     Population, percent change - April 1, 2010 to ...
3                                      Population, 2010
4                  Persons under 5 years, percent, 2014
5                 Persons under 18 years, percent, 2014
6              Persons 65 years and over, percent, 2014
7                         Female persons, percent, 2014
8                            White alone, percent, 2014
9        Black or African American alone, percent, 2014
10    American Indian and Alaska Native alone, perce...
11                           Asian alone, percent, 2014
12    Native Hawaiian and Other Pacific Islander alo...
13                     Two or More Races, percent, 2014
14                    Hispanic or Latino, percent, 2014
15    White alone, not Hispanic or Latino, percent, ...
16    Living in same house 1 year & over, percent, 2...
17             Foreign born persons, percent, 2009-2013
18    Language other than English spoken at home, pc...
19    High school graduate or higher, percent of per...
20    Bachelor's degree or higher, percent of person...
21                                  Veterans, 2009-2013
22    Mean travel time to work (minutes), workers ag...
23                                  Housing units, 2014
24                        Homeownership rate, 2009-2013
25    Housing units in multi-unit structures, percen...
26    Median value of owner-occupied housing units, ...
27                                Households, 2009-2013
28                     Persons per household, 2009-2013
29    Per capita money income in past 12 months (201...
30                   Median household income, 2009-2013
31      Persons below poverty level, percent, 2009-2013
32                 Private nonfarm establishments, 2013
33                    Private nonfarm employment,  2013
34    Private nonfarm employment, percent change, 20...
35                     Nonemployer establishments, 2013
36                          Total number of firms, 2007
37                     Black-owned firms, percent, 2007
38    American Indian- and Alaska Native-owned firms...
39                     Asian-owned firms, percent, 2007
40    Native Hawaiian- and Other Pacific Islander-ow...
41                  Hispanic-owned firms, percent, 2007
42                     Women-owned firms, percent, 2007
43               Manufacturers shipments, 2007 ($1,000)
44             Merchant wholesaler sales, 2007 ($1,000)
45                          Retail sales, 2007 ($1,000)
46                        Retail sales per capita, 2007
47    Accommodation and food services sales, 2007 ($...
48                               Building permits, 2014
49                      Land area in square miles, 2010
50                     Population per square mile, 2010
Name: description, dtype: object

In [273]:
samples2

Index(['column_name', 'description'], dtype='object')

In [280]:
df_see3 = pd.read_csv("./2016-us-election/primary_results.csv")
#X = df_see.drop("gene",axis=1).values.astype("int") # to drop the gene column and convert data to int
samples3 = df_see3.columns
#df_test = df_see3[["county", "votes","candidate"]].groupby(["county"])
#df_test

In [281]:
#df_test.head()

In [282]:
#df_test.head()
#df_test=df_see3.pivot(index='county', columns='candidate', values='votes')

In [283]:
df_see3[df_see3["county"]=="Abbot"]

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
8121,Maine,ME,Abbot,92300001.0,Democrat,Bernie Sanders,1,1.0
8122,Maine,ME,Abbot,92300001.0,Democrat,Hillary Clinton,0,0.0

In [284]:
#df_test = df_see3[["county", "votes","candidate"]].groupby(["county"]).sum()

In [285]:
#df_test

item: election 2016 fact

Attributes:the differentstats,'fips','area_name','state_abbreviation':categorical attributes
the other columns are quantitive attributes

state:categorical	
state_abbreviation:categorical	
county:categorical 
fips:quantitative	
party:categorical	
candidate:categorical	
votes:quantitative	
fraction_votes:quantitative

In [286]:
df_see3_manip = df_see3[["county","party","votes"]].groupby(["county","party"]).sum()

df_see3_manip['county'] = df_see3_manip.index
df_see3_manip.head()

                      votes                   county
county    party
Abbeville Democrat     1813    (Abbeville, Democrat)
          Republican   3667  (Abbeville, Republican)
Abbot     Democrat        1        (Abbot, Democrat)
Abington  Democrat     2511     (Abington, Democrat)
          Republican   2049   (Abington, Republican)

In [287]:
counties = df_see3['county'].unique()
df = pd.DataFrame(columns = ['county'])
df['county'] = counties

In [288]:
df = df_see3[df_see3["party"]=="Democrat"]
df_democrats = df[["county", "votes"]].groupby(["county"]).sum()
df = df_see3[df_see3["party"]=="Republican"]
df_republicans = df[["county", "votes"]].groupby(["county"]).sum()

In [289]:
#df['Democrats'] = df_see3_manip[df_see3["party"]=="Democrat"]

In [290]:
counties = df_see3['county'].unique()
df = pd.DataFrame(columns = ['county'])
df['county'] = counties
df=df.set_index('county')
df['Democrat'] = df_democrats
df['Republican'] = df_republicans
df=df.fillna(0)

In [291]:
df['proportion'] = df['Democrat']/(df['Democrat']+df['Republican'])
df['democratWin'] = df['proportion']>0.5

In [292]:
df

                      Democrat  Republican  proportion  democratWin
county
Autauga                 2931.0     11839.0    0.198443        False
Baldwin                11783.0     53544.0    0.180370        False
Barbour                 4469.0      5395.0    0.453062        False
Bibb                   16764.0     19028.0    0.468373        False
Blount                  6057.0     35487.0    0.145797        False
Bullock                 2629.0       541.0    0.829338         True
Butler                 45205.0    115176.0    0.281860        False
Calhoun                26301.0     46099.0    0.363273        False
Chambers                4191.0     11246.0    0.271491        False
Cherokee               21315.0     81490.0    0.207334        False
Chilton                 1149.0     10404.0    0.099455        False
Choctaw                 3784.0      4329.0    0.466412        False
Clarke                 20096.0     18991.0    0.514135         True
Clay                   45441.0     95868.0    0.321572        False
Cleburne                1367.0     10887.0    0.111555        False
Coffee                  5619.0     22643.0    0.198818        False
Colbert                 5221.0      8036.0    0.393830        False
Conecuh                 2575.0      1271.0    0.669527         True
Coosa                   1137.0      2176.0    0.343193        False
Covington               2774.0     12709.0    0.179164        False
Crenshaw                1015.0      2704.0    0.272923        False
Cullman                 1998.0     20557.0    0.088583        False
Dale                    1959.0      8836.0    0.181473        False
Dallas                173021.0    182108.0    0.487206        False
DeKalb                133218.0     82555.0    0.617399         True
Elmore                  4213.0     20211.0    0.172494        False
Escambia               28336.0     53623.0    0.345734        False
Etowah                  5551.0     18417.0    0.231600        False
Fayette                78473.0     86057.0    0.476953        False
Franklin              215941.0    272424.0    0.442171        False
...                        ...         ...         ...          ...
Sauk                   11721.0     10793.0    0.520609         True
Sawyer                  2627.0      3652.0    0.418379        False
Shawano                 5100.0      9110.0    0.358902        False
Sheboygan              15712.0     25332.0    0.382809        False
St. Croix              10562.0     16247.0    0.393972        False
Trempealeau             4417.0      4722.0    0.483313        False
Vilas                   3552.0      6079.0    0.368809        False
Waukesha               51123.0    120830.0    0.297308        False
Waupaca                 6465.0     10748.0    0.375588        False
Waushara                2683.0      5152.0    0.342438        False
Converse                   5.0         0.0    1.000000         True
Hot Springs                2.0         0.0    1.000000         True
Laramie                   51.0       179.0    0.221739        False
Natrona                   38.0         0.0    1.000000         True
Niobrara                   2.0         0.0    1.000000         True
Sublette                   4.0         0.0    1.000000         True
Sweetwater                22.0         0.0    1.000000         True
Uinta                      9.0         0.0    1.000000         True
Washakie                   3.0         0.0    1.000000         True
Albany-Natrona             0.0        76.0    0.000000        False
Campbell-Johnson           0.0        68.0    0.000000        False
Converse-Niobrara          0.0        73.0    0.000000        False
Crook-Weston               0.0        27.0    0.000000        False
Fremont-Park               0.0        97.0    0.000000        False
Goshen-Platte              0.0        83.0    0.000000        False
Hot Springs-Washakie       0.0        43.0    0.000000        False
Sheridan-Big Horn          0.0        75.0    0.000000        False
Sweetwater-Carbon          0.0        89.0    0.000000        False
Teton-Sublette             0.0        40.0    0.000000        False
Uinta-Lincoln              0.0        53.0    0.000000        False

[2633 rows x 4 columns]

In [293]:
df.to_csv('clean_data.csv')

Let's to join both datasets

In [294]:
#df_see1.rename(columns = {"county":"area_name"})
df_see1["county"] = df_see1.area_name.str.replace(" County","")

In [295]:
df_see1.head()

,fips,area_name,state_abbreviation,PST045214,PST040210,PST120214,POP010210,AGE135214,AGE295214,AGE775214,...,SBO015207,MAN450207,WTN220207,RTN130207,RTN131207,AFN120207,BPS030214,LND110210,POP060210,county
0,0,United States,NaN,318857056,308758105,3.3,308745538,6.2,23.1,14.5,...,28.8,5319456312,4174286516,3917663456,12990,613795732,1046363,3531905.43,87.4,United States
1,1000,Alabama,NaN,4849377,4780127,1.4,4779736,6.1,22.8,15.3,...,28.1,112858843,52252752,57344851,12364,6426342,13369,50645.33,94.4,Alabama
2,1001,Autauga County,AL,55395,54571,1.5,54571,6.0,25.2,13.8,...,31.7,0,0,598175,12003,88157,131,594.44,91.8,Autauga
3,1003,Baldwin County,AL,200111,182265,9.8,182265,5.6,22.2,18.7,...,27.3,1410273,0,2966489,17166,436955,1384,1589.78,114.6,Baldwin
4,1005,Barbour County,AL,26887,27457,-2.1,27457,5.7,21.2,16.5,...,27.0,0,0,188337,6334,0,8,884.88,31.0,Barbour

In [296]:
df_see3.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078

In [297]:
df_all = pd.merge(df_see1,df_see3,how = 'left', left_on=['state_abbreviation',"county"], right_on = ["state_abbreviation","county"])

In [298]:
df_all.head()

,fips_x,area_name,state_abbreviation,PST045214,PST040210,PST120214,POP010210,AGE135214,AGE295214,AGE775214,...,BPS030214,LND110210,POP060210,county,state,fips_y,party,candidate,votes,fraction_votes
0,0,United States,NaN,318857056,308758105,3.3,308745538,6.2,23.1,14.5,...,1046363,3531905.43,87.4,United States,NaN,NaN,NaN,NaN,NaN,NaN
1,1000,Alabama,NaN,4849377,4780127,1.4,4779736,6.1,22.8,15.3,...,13369,50645.33,94.4,Alabama,NaN,NaN,NaN,NaN,NaN,NaN
2,1001,Autauga County,AL,55395,54571,1.5,54571,6.0,25.2,13.8,...,131,594.44,91.8,Autauga,Alabama,1001.0,Democrat,Bernie Sanders,544.0,0.182
3,1001,Autauga County,AL,55395,54571,1.5,54571,6.0,25.2,13.8,...,131,594.44,91.8,Autauga,Alabama,1001.0,Democrat,Hillary Clinton,2387.0,0.800
4,1001,Autauga County,AL,55395,54571,1.5,54571,6.0,25.2,13.8,...,131,594.44,91.8,Autauga,Alabama,1001.0,Republican,Ben Carson,1764.0,0.146

In [308]:
df_all['proportion of people who can vote']=100-df_all['AGE295214']
df_M=df_all[2:]

In [309]:
df['county']=df.index

In [310]:
df_M=pd.merge(df,df_M[['county','proportion of people who can vote','PST045214']],how = 'left')

In [311]:
df_M['number of people who can vote']= df_M['PST045214']*df_M['proportion of people who can vote']/100
df_M[['number of people who can vote','PST045214']]=df_M[['number of people who can vote','PST045214']].fillna(0.0).astype('int')

In [312]:
df_M['estimation of population']=df_M['PST045214']

In [313]:
df_M=df_M.drop('PST045214',axis=1)

In [314]:
df_M['votes']=df_M['Democrat']+df_M['Republican']

In [315]:
df_M['votes']=df_M['votes'].fillna(0.0).astype('int')

In [316]:
df_M

,Democrat,Republican,proportion,democratWin,county,proportion of people who can vote,number of people who can vote,estimation of population,votes
0,2931.0,11839.0,0.198443,False,Autauga,74.8,41435,55395,14770
1,2931.0,11839.0,0.198443,False,Autauga,74.8,41435,55395,14770
2,2931.0,11839.0,0.198443,False,Autauga,74.8,41435,55395,14770
3,2931.0,11839.0,0.198443,False,Autauga,74.8,41435,55395,14770
4,2931.0,11839.0,0.198443,False,Autauga,74.8,41435,55395,14770
5,2931.0,11839.0,0.198443,False,Autauga,74.8,41435,55395,14770
6,2931.0,11839.0,0.198443,False,Autauga,74.8,41435,55395,14770
7,11783.0,53544.0,0.180370,False,Baldwin,77.8,155686,200111,65327
8,11783.0,53544.0,0.180370,False,Baldwin,77.8,155686,200111,65327
9,11783.0,53544.0,0.180370,False,Baldwin,77.8,155686,200111,65327
10,11783.0,53544.0,0.180370,False,Baldwin,77.8,155686,200111,65327
11,11783.0,53544.0,0.180370,False,Baldwin,77.8,155686,200111,65327
12,11783.0,53544.0,0.180370,False,Baldwin,77.8,155686,200111,65327
13,11783.0,53544.0,0.180370,False,Baldwin,77.8,155686,200111,65327
14,11783.0,53544.0,0.180370,False,Baldwin,80.7,37048,45909,65327
15,11783.0,53544.0,0.180370,False,Baldwin,80.7,37048,45909,65327
16,11783.0,53544.0,0.180370,False,Baldwin,80.7,37048,45909,65327
17,11783.0,53544.0,0.180370,False,Baldwin,80.7,37048,45909,65327
18,11783.0,53544.0,0.180370,False,Baldwin,80.7,37048,45909,65327
19,11783.0,53544.0,0.180370,False,Baldwin,80.7,37048,45909,65327
20,11783.0,53544.0,0.180370,False,Baldwin,80.7,37048,45909,65327
21,4469.0,5395.0,0.453062,False,Barbour,78.8,21186,26887,9864
22,4469.0,5395.0,0.453062,False,Barbour,78.8,21186,26887,9864
23,4469.0,5395.0,0.453062,False,Barbour,78.8,21186,26887,9864
24,4469.0,5395.0,0.453062,False,Barbour,78.8,21186,26887,9864
25,4469.0,5395.0,0.453062,False,Barbour,78.8,21186,26887,9864
26,4469.0,5395.0,0.453062,False,Barbour,78.8,21186,26887,9864
27,4469.0,5395.0,0.453062,False,Barbour,78.8,21186,26887,9864
28,4469.0,5395.0,0.453062,False,Barbour,79.1,13261,16766,9864
29,4469.0,5395.0,0.453062,False,Barbour,79.1,13261,16766,9864
...,...,...,...,...,...,...,...,...,...
18181,2.0,0.0,1.000000,True,Hot Springs,79.2,3814,4816,2
18182,51.0,179.0,0.221739,False,Laramie,76.5,73737,96389,230
18183,51.0,179.0,0.221739,False,Laramie,76.5,73737,96389,230
18184,51.0,179.0,0.221739,False,Laramie,76.5,73737,96389,230
18185,51.0,179.0,0.221739,False,Laramie,76.5,73737,96389,230
18186,51.0,179.0,0.221739,False,Laramie,76.5,73737,96389,230
18187,51.0,179.0,0.221739,False,Laramie,76.5,73737,96389,230
18188,38.0,0.0,1.000000,True,Natrona,76.1,62115,81624,38
18189,38.0,0.0,1.000000,True,Natrona,76.1,62115,81624,38
18190,2.0,0.0,1.000000,True,Niobrara,83.4,2054,2463,2
18191,2.0,0.0,1.000000,True,Niobrara,83.4,2054,2463,2
18192,4.0,0.0,1.000000,True,Sublette,76.0,7643,10057,4
18193,4.0,0.0,1.000000,True,Sublette,76.0,7643,10057,4
18194,22.0,0.0,1.000000,True,Sweetwater,73.0,32857,45010,22
18195,22.0,0.0,1.000000,True,Sweetwater,73.0,32857,45010,22
18196,9.0,0.0,1.000000,True,Uinta,70.2,14674,20904,9
18197,9.0,0.0,1.000000,True,Uinta,70.2,14674,20904,9
18198,3.0,0.0,1.000000,True,Washakie,76.1,6333,8322,3
18199,3.0,0.0,1.000000,True,Washakie,76.1,6333,8322,3
18200,0.0,76.0,0.000000,False,Albany-Natrona,NaN,0,0,76
18201,0.0,68.0,0.000000,False,Campbell-Johnson,NaN,0,0,68
18202,0.0,73.0,0.000000,False,Converse-Niobrara,NaN,0,0,73
18203,0.0,27.0,0.000000,False,Crook-Weston,NaN,0,0,27
18204,0.0,97.0,0.000000,False,Fremont-Park,NaN,0,0,97
18205,0.0,83.0,0.000000,False,Goshen-Platte,NaN,0,0,83
18206,0.0,43.0,0.000000,False,Hot Springs-Washakie,NaN,0,0,43
18207,0.0,75.0,0.000000,False,Sheridan-Big Horn,NaN,0,0,75
18208,0.0,89.0,0.000000,False,Sweetwater-Carbon,NaN,0,0,89
18209,0.0,40.0,0.000000,False,Teton-Sublette,NaN,0,0,40
18210,0.0,53.0,0.000000,False,Uinta-Lincoln,NaN,0,0,53

In [317]:
df_test = df_M.groupby(["county"])

In [319]:
df_test.head()

,Democrat,Republican,proportion,democratWin,county,proportion of people who can vote,number of people who can vote,estimation of population,votes
0,2931.0,11839.0,0.198443,False,Autauga,74.8,41435,55395,14770
1,2931.0,11839.0,0.198443,False,Autauga,74.8,41435,55395,14770
2,2931.0,11839.0,0.198443,False,Autauga,74.8,41435,55395,14770
3,2931.0,11839.0,0.198443,False,Autauga,74.8,41435,55395,14770
4,2931.0,11839.0,0.198443,False,Autauga,74.8,41435,55395,14770
7,11783.0,53544.0,0.180370,False,Baldwin,77.8,155686,200111,65327
8,11783.0,53544.0,0.180370,False,Baldwin,77.8,155686,200111,65327
9,11783.0,53544.0,0.180370,False,Baldwin,77.8,155686,200111,65327
10,11783.0,53544.0,0.180370,False,Baldwin,77.8,155686,200111,65327
11,11783.0,53544.0,0.180370,False,Baldwin,77.8,155686,200111,65327
21,4469.0,5395.0,0.453062,False,Barbour,78.8,21186,26887,9864
22,4469.0,5395.0,0.453062,False,Barbour,78.8,21186,26887,9864
23,4469.0,5395.0,0.453062,False,Barbour,78.8,21186,26887,9864
24,4469.0,5395.0,0.453062,False,Barbour,78.8,21186,26887,9864
25,4469.0,5395.0,0.453062,False,Barbour,78.8,21186,26887,9864
33,16764.0,19028.0,0.468373,False,Bibb,79.0,17779,22506,35792
34,16764.0,19028.0,0.468373,False,Bibb,79.0,17779,22506,35792
35,16764.0,19028.0,0.468373,False,Bibb,79.0,17779,22506,35792
36,16764.0,19028.0,0.468373,False,Bibb,79.0,17779,22506,35792
37,16764.0,19028.0,0.468373,False,Bibb,79.0,17779,22506,35792
47,6057.0,35487.0,0.145797,False,Blount,76.4,44097,57719,41544
48,6057.0,35487.0,0.145797,False,Blount,76.4,44097,57719,41544
49,6057.0,35487.0,0.145797,False,Blount,76.4,44097,57719,41544
50,6057.0,35487.0,0.145797,False,Blount,76.4,44097,57719,41544
51,6057.0,35487.0,0.145797,False,Blount,76.4,44097,57719,41544
61,2629.0,541.0,0.829338,True,Bullock,78.6,8460,10764,3170
62,2629.0,541.0,0.829338,True,Bullock,78.6,8460,10764,3170
63,2629.0,541.0,0.829338,True,Bullock,78.6,8460,10764,3170
64,2629.0,541.0,0.829338,True,Bullock,78.6,8460,10764,3170
65,2629.0,541.0,0.829338,True,Bullock,78.6,8460,10764,3170
...,...,...,...,...,...,...,...,...,...
18180,2.0,0.0,1.000000,True,Hot Springs,79.2,3814,4816,2
18181,2.0,0.0,1.000000,True,Hot Springs,79.2,3814,4816,2
18182,51.0,179.0,0.221739,False,Laramie,76.5,73737,96389,230
18183,51.0,179.0,0.221739,False,Laramie,76.5,73737,96389,230
18184,51.0,179.0,0.221739,False,Laramie,76.5,73737,96389,230
18185,51.0,179.0,0.221739,False,Laramie,76.5,73737,96389,230
18186,51.0,179.0,0.221739,False,Laramie,76.5,73737,96389,230
18188,38.0,0.0,1.000000,True,Natrona,76.1,62115,81624,38
18189,38.0,0.0,1.000000,True,Natrona,76.1,62115,81624,38
18190,2.0,0.0,1.000000,True,Niobrara,83.4,2054,2463,2
18191,2.0,0.0,1.000000,True,Niobrara,83.4,2054,2463,2
18192,4.0,0.0,1.000000,True,Sublette,76.0,7643,10057,4
18193,4.0,0.0,1.000000,True,Sublette,76.0,7643,10057,4
18194,22.0,0.0,1.000000,True,Sweetwater,73.0,32857,45010,22
18195,22.0,0.0,1.000000,True,Sweetwater,73.0,32857,45010,22
18196,9.0,0.0,1.000000,True,Uinta,70.2,14674,20904,9
18197,9.0,0.0,1.000000,True,Uinta,70.2,14674,20904,9
18198,3.0,0.0,1.000000,True,Washakie,76.1,6333,8322,3
18199,3.0,0.0,1.000000,True,Washakie,76.1,6333,8322,3
18200,0.0,76.0,0.000000,False,Albany-Natrona,NaN,0,0,76
18201,0.0,68.0,0.000000,False,Campbell-Johnson,NaN,0,0,68
18202,0.0,73.0,0.000000,False,Converse-Niobrara,NaN,0,0,73
18203,0.0,27.0,0.000000,False,Crook-Weston,NaN,0,0,27
18204,0.0,97.0,0.000000,False,Fremont-Park,NaN,0,0,97
18205,0.0,83.0,0.000000,False,Goshen-Platte,NaN,0,0,83
18206,0.0,43.0,0.000000,False,Hot Springs-Washakie,NaN,0,0,43
18207,0.0,75.0,0.000000,False,Sheridan-Big Horn,NaN,0,0,75
18208,0.0,89.0,0.000000,False,Sweetwater-Carbon,NaN,0,0,89
18209,0.0,40.0,0.000000,False,Teton-Sublette,NaN,0,0,40
18210,0.0,53.0,0.000000,False,Uinta-Lincoln,NaN,0,0,53

In [324]:
df_see31= df_see3[['county','votes','candidate']]
df_pivot = df_see31.pivot_table(index='county', columns='candidate', values='votes').fillna(0.0).astype('int')
df_pivot

candidate,No Preference,Uncommitted,Ben Carson,Bernie Sanders,Carly Fiorina,Chris Christie,Donald Trump,Hillary Clinton,Jeb Bush,John Kasich,Marco Rubio,Martin O'Malley,Mike Huckabee,Rand Paul,Rick Santorum,Ted Cruz
county,,,,,,,,,,,,,,,,
Abbeville,0,0,305,312,0,0,1353,1501,236,157,740,0,0,0,0,876
Abbot,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
Abington,30,0,53,1352,0,0,1222,1129,0,299,267,0,0,0,0,208
Acadia,0,0,0,1087,0,0,1694,1862,0,129,403,0,0,0,0,1454
Accomack,0,0,411,682,0,0,2068,1789,0,210,905,0,0,0,0,685
Acton,13,0,54,1280,0,0,656,1443,0,754,578,0,0,0,0,203
Acushnet,14,0,47,753,0,0,707,783,0,99,146,0,0,0,0,108
Ada,0,0,0,7336,0,0,15191,1663,0,5306,8074,0,0,0,0,20156
Adair,0,0,86,666,16,4,877,503,4,181,252,0,11,12,7,603
Adams,18,0,20,1146,16,1,2559,1242,7,688,241,0,3,8,1,1571
Addison,0,0,17,126,0,0,66,20,0,51,56,0,0,0,0,33
Agawam,54,0,108,1943,0,0,1814,1695,0,499,522,0,0,0,0,402
Aiken,0,0,2613,2870,0,0,9027,6888,1207,1904,6804,0,0,0,0,7036
Alachua,0,0,0,17590,0,0,9241,17733,0,1902,6979,0,0,0,0,5213
Alamance,0,0,0,5755,0,0,6507,7374,0,1791,1300,0,0,0,0,6956
Alameda,0,0,0,91324,0,0,19951,107102,0,5108,0,0,0,0,0,3208
Alamosa,0,0,0,167,0,0,0,90,0,0,0,0,0,0,0,0
Albany,0,0,4,6862,0,0,3208,6158,0,2356,14,0,0,0,0,1103
Albany-Natrona,0,0,0,0,0,0,0,0,0,0,39,0,0,0,0,37
Albemarle,0,0,665,6838,0,0,3661,8284,0,2306,5518,0,0,0,0,2540
Albion,0,0,0,2,0,0,0,1,0,0,0,0,0,0,0,0
Alburgh,0,0,5,315,0,0,102,31,0,42,31,0,0,0,0,20
Alcona,0,0,0,455,0,0,1111,463,0,340,138,0,0,0,0,460
Alcorn,0,0,0,302,0,0,2901,809,0,415,320,0,0,0,0,2003
Alexander,0,0,0,519,0,0,1445,639,0,195,128,0,0,0,0,1520
Alexandria,0,0,272,7008,0,0,2546,16281,0,3152,6338,0,0,0,0,1036
Alfalfa,0,0,67,191,0,0,337,92,0,18,274,0,0,0,0,421
Alford,0,0,2,59,0,0,12,84,0,14,7,0,0,0,0,2
Alfred,0,0,0,5,0,0,0,3,0,0,0,0,0,0,0,0
Alger,0,0,0,622,0,0,517,384,0,281,99,0,0,0,0,318
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Woonsocket,0,0,0,1674,0,0,1017,1322,0,176,0,0,0,0,0,143
Worcester,139,0,139,4622,0,0,3363,5053,0,809,764,0,0,0,0,666
Worth,0,0,122,153,11,6,742,308,9,44,136,0,18,14,4,374
Worthington,0,0,7,251,0,0,50,98,0,34,7,0,0,0,0,28
Wrentham,10,0,42,901,0,0,838,744,0,332,375,0,0,0,0,174
Wright,0,0,58,305,4,10,1001,337,16,91,122,0,15,7,3,999
Wyandot,0,0,0,647,0,0,1720,661,0,1896,108,0,0,0,0,781
Wyoming,0,0,0,1191,0,0,2602,809,0,444,0,0,0,0,0,625
Wythe,0,0,260,423,0,0,1873,528,0,148,646,0,0,0,0,534
Yadkin,0,0,0,783,0,0,3436,832,0,640,282,0,0,0,0,3183
Yakima,0,0,0,393,0,0,14872,123,0,1063,0,0,0,0,0,1366
Yalobusha,0,0,0,215,0,0,1029,1214,0,116,70,0,0,0,0,612
Yamhill,0,0,0,6446,0,0,6843,5321,0,1879,0,0,0,0,0,2505
Yancey,0,0,0,1386,0,0,1174,1134,0,282,165,0,0,0,0,1151
Yankton,0,0,0,580,0,0,646,706,0,184,0,0,0,0,0,186
Yarmouth,28,0,111,1029,0,0,1980,1131,0,623,562,0,0,0,0,372
Yates,0,0,0,669,0,0,1296,552,0,799,0,0,0,0,0,369
Yavapai,0,0,0,7108,0,0,17005,8401,0,3259,0,0,0,0,0,10547
Yazoo,0,0,0,203,0,0,1510,2203,0,206,152,0,0,0,0,842
Yell,0,0,136,432,0,0,911,723,0,47,496,0,0,0,0,784
Yellowstone,0,0,0,6975,0,0,17925,7844,0,1934,0,0,0,0,0,2570
Yoakum,0,0,121,10,0,0,402,9,0,24,223,0,0,0,0,685
Yolo,0,0,0,11532,0,0,5110,12567,0,1089,0,0,0,0,0,557
York,0,0,2345,4945,0,0,14752,6137,2036,3594,6164,0,0,0,0,7087
Young,0,0,210,131,0,0,1254,198,0,120,516,0,0,0,0,1945
Yuba,0,0,0,1730,0,0,3210,1572,0,198,0,0,0,0,0,318
Yuma,0,0,0,1094,0,0,4390,2201,0,522,0,0,0,0,0,2556
Zapata,0,0,4,685,0,0,34,1969,0,0,11,0,0,0,0,32
Zavala,0,0,0,373,0,0,0,1557,0,0,0,0,0,0,0,0
Ziebach,0,0,0,132,0,0,79,92,0,11,0,0,0,0,0,25

In [335]:
colu=df_pivot.columns

In [338]:
df_pivot['votes']=df_pivot.sum(axis=1)

In [341]:
df_pivot=df_pivot.fillna(0.0).astype('int')

In [342]:
df_pivot

candidate,No Preference,Uncommitted,Ben Carson,Bernie Sanders,Carly Fiorina,Chris Christie,Donald Trump,Hillary Clinton,Jeb Bush,John Kasich,Marco Rubio,Martin O'Malley,Mike Huckabee,Rand Paul,Rick Santorum,Ted Cruz,votes
county,,,,,,,,,,,,,,,,,
Abbeville,0,0,305,312,0,0,1353,1501,236,157,740,0,0,0,0,876,5480
Abbot,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1
Abington,30,0,53,1352,0,0,1222,1129,0,299,267,0,0,0,0,208,4560
Acadia,0,0,0,1087,0,0,1694,1862,0,129,403,0,0,0,0,1454,6629
Accomack,0,0,411,682,0,0,2068,1789,0,210,905,0,0,0,0,685,6750
Acton,13,0,54,1280,0,0,656,1443,0,754,578,0,0,0,0,203,4981
Acushnet,14,0,47,753,0,0,707,783,0,99,146,0,0,0,0,108,2657
Ada,0,0,0,7336,0,0,15191,1663,0,5306,8074,0,0,0,0,20156,57726
Adair,0,0,86,666,16,4,877,503,4,181,252,0,11,12,7,603,3222
Adams,18,0,20,1146,16,1,2559,1242,7,688,241,0,3,8,1,1571,7521
Addison,0,0,17,126,0,0,66,20,0,51,56,0,0,0,0,33,369
Agawam,54,0,108,1943,0,0,1814,1695,0,499,522,0,0,0,0,402,7037
Aiken,0,0,2613,2870,0,0,9027,6888,1207,1904,6804,0,0,0,0,7036,38349
Alachua,0,0,0,17590,0,0,9241,17733,0,1902,6979,0,0,0,0,5213,58658
Alamance,0,0,0,5755,0,0,6507,7374,0,1791,1300,0,0,0,0,6956,29683
Alameda,0,0,0,91324,0,0,19951,107102,0,5108,0,0,0,0,0,3208,226693
Alamosa,0,0,0,167,0,0,0,90,0,0,0,0,0,0,0,0,257
Albany,0,0,4,6862,0,0,3208,6158,0,2356,14,0,0,0,0,1103,19705
Albany-Natrona,0,0,0,0,0,0,0,0,0,0,39,0,0,0,0,37,76
Albemarle,0,0,665,6838,0,0,3661,8284,0,2306,5518,0,0,0,0,2540,29812
Albion,0,0,0,2,0,0,0,1,0,0,0,0,0,0,0,0,3
Alburgh,0,0,5,315,0,0,102,31,0,42,31,0,0,0,0,20,546
Alcona,0,0,0,455,0,0,1111,463,0,340,138,0,0,0,0,460,2967
Alcorn,0,0,0,302,0,0,2901,809,0,415,320,0,0,0,0,2003,6750
Alexander,0,0,0,519,0,0,1445,639,0,195,128,0,0,0,0,1520,4446
Alexandria,0,0,272,7008,0,0,2546,16281,0,3152,6338,0,0,0,0,1036,36633
Alfalfa,0,0,67,191,0,0,337,92,0,18,274,0,0,0,0,421,1400
Alford,0,0,2,59,0,0,12,84,0,14,7,0,0,0,0,2,180
Alfred,0,0,0,5,0,0,0,3,0,0,0,0,0,0,0,0,8
Alger,0,0,0,622,0,0,517,384,0,281,99,0,0,0,0,318,2221
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Woonsocket,0,0,0,1674,0,0,1017,1322,0,176,0,0,0,0,0,143,4332
Worcester,139,0,139,4622,0,0,3363,5053,0,809,764,0,0,0,0,666,15555
Worth,0,0,122,153,11,6,742,308,9,44,136,0,18,14,4,374,1941
Worthington,0,0,7,251,0,0,50,98,0,34,7,0,0,0,0,28,475
Wrentham,10,0,42,901,0,0,838,744,0,332,375,0,0,0,0,174,3416
Wright,0,0,58,305,4,10,1001,337,16,91,122,0,15,7,3,999,2968
Wyandot,0,0,0,647,0,0,1720,661,0,1896,108,0,0,0,0,781,5813
Wyoming,0,0,0,1191,0,0,2602,809,0,444,0,0,0,0,0,625,5671
Wythe,0,0,260,423,0,0,1873,528,0,148,646,0,0,0,0,534,4412
Yadkin,0,0,0,783,0,0,3436,832,0,640,282,0,0,0,0,3183,9156
Yakima,0,0,0,393,0,0,14872,123,0,1063,0,0,0,0,0,1366,17817
Yalobusha,0,0,0,215,0,0,1029,1214,0,116,70,0,0,0,0,612,3256
Yamhill,0,0,0,6446,0,0,6843,5321,0,1879,0,0,0,0,0,2505,22994
Yancey,0,0,0,1386,0,0,1174,1134,0,282,165,0,0,0,0,1151,5292
Yankton,0,0,0,580,0,0,646,706,0,184,0,0,0,0,0,186,2302
Yarmouth,28,0,111,1029,0,0,1980,1131,0,623,562,0,0,0,0,372,5836
Yates,0,0,0,669,0,0,1296,552,0,799,0,0,0,0,0,369,3685
Yavapai,0,0,0,7108,0,0,17005,8401,0,3259,0,0,0,0,0,10547,46320
Yazoo,0,0,0,203,0,0,1510,2203,0,206,152,0,0,0,0,842,5116
Yell,0,0,136,432,0,0,911,723,0,47,496,0,0,0,0,784,3529
Yellowstone,0,0,0,6975,0,0,17925,7844,0,1934,0,0,0,0,0,2570,37248
Yoakum,0,0,121,10,0,0,402,9,0,24,223,0,0,0,0,685,1474
Yolo,0,0,0,11532,0,0,5110,12567,0,1089,0,0,0,0,0,557,30855
York,0,0,2345,4945,0,0,14752,6137,2036,3594,6164,0,0,0,0,7087,47060
Young,0,0,210,131,0,0,1254,198,0,120,516,0,0,0,0,1945,4374
Yuba,0,0,0,1730,0,0,3210,1572,0,198,0,0,0,0,0,318,7028
Yuma,0,0,0,1094,0,0,4390,2201,0,522,0,0,0,0,0,2556,10763
Zapata,0,0,4,685,0,0,34,1969,0,0,11,0,0,0,0,32,2735
Zavala,0,0,0,373,0,0,0,1557,0,0,0,0,0,0,0,0,1930
Ziebach,0,0,0,132,0,0,79,92,0,11,0,0,0,0,0,25,339

In [343]:
df_pivot['county']=df_pivot.index
df_pivot.head()

candidate,No Preference,Uncommitted,Ben Carson,Bernie Sanders,Carly Fiorina,Chris Christie,Donald Trump,Hillary Clinton,Jeb Bush,John Kasich,Marco Rubio,Martin O'Malley,Mike Huckabee,Rand Paul,Rick Santorum,Ted Cruz,votes,county
county,,,,,,,,,,,,,,,,,,
Abbeville,0,0,305,312,0,0,1353,1501,236,157,740,0,0,0,0,876,5480,Abbeville
Abbot,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,Abbot
Abington,30,0,53,1352,0,0,1222,1129,0,299,267,0,0,0,0,208,4560,Abington
Acadia,0,0,0,1087,0,0,1694,1862,0,129,403,0,0,0,0,1454,6629,Acadia
Accomack,0,0,411,682,0,0,2068,1789,0,210,905,0,0,0,0,685,6750,Accomack