In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("WA_Retail-SalesMarketing_-ProfitCost.csv")

In [3]:
df

,Year,Product line,Product type,Product,Order method type,Retailer country,Revenue,Planned revenue,Product cost,Quantity,Unit cost,Unit price,Gross profit,Unit sale price
0,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,United States,315044.33,437477.15,158371.76,66385.0,2.552857,6.59,156672.57,5.195714
1,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Canada,13444.68,14313.48,6298.80,2172.0,2.900000,6.59,7145.88,6.190000
2,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Mexico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Brazil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Japan,181120.24,235236.64,89413.06,35696.0,2.657000,6.59,91707.18,5.488000
5,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,China,69608.15,100200.95,35326.25,15205.0,2.495000,6.59,34281.90,5.040000
7,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Singapore,30940.35,51619.47,16370.97,7833.0,2.090000,6.59,14569.38,3.950000
8,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Netherlands,74321.18,94421.52,36531.63,14328.0,2.697500,6.59,37789.55,5.585000
10,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Sweden,18474.15,30821.43,9774.93,4677.0,2.090000,6.59,8699.22,3.950000
11,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Finland,80890.34,117236.10,41021.31,17790.0,2.495000,6.59,39869.03,5.070000
12,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Denmark,31746.70,33325.63,14665.30,5057.0,2.900000,6.59,17081.40,6.283333
13,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,France,103244.26,138113.22,51200.76,20958.0,2.630000,6.59,52043.50,5.443333
14,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Germany,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,United Kingdom,160227.13,220995.65,80307.11,33535.0,2.576000,6.59,79920.02,5.270000
16,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Switzerland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Austria,67179.39,85399.81,32490.25,12959.0,2.697500,6.59,34689.14,5.750000
19,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Italy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Spain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Sales visit,United States,181287.73,222735.41,88348.13,33799.0,2.720000,6.59,92939.60,5.652222
22,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Sales visit,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Sales visit,Mexico,133617.26,169942.92,65215.05,25788.0,2.720000,6.59,68402.21,5.723333
24,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Sales visit,Brazil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Sales visit,Japan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Sales visit,Korea,186696.56,238492.10,91891.37,36190.0,2.697500,6.59,94805.19,5.585000
27,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Sales visit,China,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Sales visit,Singapore,118193.46,161665.88,59183.15,24532.0,2.576000,6.59,59010.31,5.258000
29,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Sales visit,Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84642,2007,Mountaineering Equipment,Tools,Granite Extreme,E-mail,Denmark,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84643,2007,Mountaineering Equipment,Tools,Granite Extreme,E-mail,France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84644,2007,Mountaineering Equipment,Tools,Granite Extreme,E-mail,Germany,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84645,2007,Mountaineering Equipment,Tools,Granite Extreme,E-mail,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84646,2007,Mountaineering Equipment,Tools,Granite Extreme,E-mail,Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84647,2007,Mountaineering Equipment,Tools,Granite Extreme,E-mail,Switzerland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84648,2007,Mountaineering Equipment,Tools,Granite Extreme,E-mail,Austria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84649,2007,Mountaineering Equipment,Tools,Granite Extreme,E-mail,Italy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84650,2007,Mountaineering Equipment,Tools,Granite Extreme,E-mail,Spain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84651,2007,Mountaineering Equipment,Tools,Granite Extreme,Fax,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84652,2007,Mountaineering Equipment,Tools,Granite Extreme,Fax,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84653,2007,Mountaineering Equipment,Tools,Granite Extreme,Fax,Mexico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84654,2007,Mountaineering Equipment,Tools,Granite Extreme,Fax,Brazil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84655,2007,Mountaineering Equipment,Tools,Granite Extreme,Fax,Japan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84656,2007,Mountaineering Equipment,Tools,Granite Extreme,Fax,Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84657,2007,Mountaineering Equipment,Tools,Granite Extreme,Fax,China,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84658,2007,Mountaineering Equipment,Tools,Granite Extreme,Fax,Singapore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84659,2007,Mountaineering Equipment,Tools,Granite Extreme,Fax,Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84660,2007,Mountaineering Equipment,Tools,Granite Extreme,Fax,Netherlands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84661,2007,Mountaineering Equipment,Tools,Granite Extreme,Fax,Sweden,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84662,2007,Mountaineering Equipment,Tools,Granite Extreme,Fax,Finland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84663,2007,Mountaineering Equipment,Tools,Granite Extreme,Fax,Denmark,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84664,2007,Mountaineering Equipment,Tools,Granite Extreme,Fax,France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84665,2007,Mountaineering Equipment,Tools,Granite Extreme,Fax,Germany,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84666,2007,Mountaineering Equipment,Tools,Granite Extreme,Fax,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84667,2007,Mountaineering Equipment,Tools,Granite Extreme,Fax,Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84668,2007,Mountaineering Equipment,Tools,Granite Extreme,Fax,Switzerland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84669,2007,Mountaineering Equipment,Tools,Granite Extreme,Fax,Austria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84670,2007,Mountaineering Equipment,Tools,Granite Extreme,Fax,Italy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84671,2007,Mountaineering Equipment,Tools,Granite Extreme,Fax,Spain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
g = nx.from_pandas_edgelist(df, 0, 1)

In [17]:
u = df.groupby(["Retailer country"])

In [19]:
u

**We will here desrcribe**: 
 
 1) The type of the data
 
 2) The range of the values
 
 3) Which units are used
 
 4) What precision is required
 
 5) If it this unit has a temporal and if yes what is the life span
 
 6) If there are outliers

In [33]:
samples1 = df.columns

In [34]:
print('The columns are:', [sample for sample in samples1])

The columns are: ['Year', 'Product line', 'Product type', 'Product', 'Order method type', 'Retailer country', 'Revenue', 'Planned revenue', 'Product cost', 'Quantity', 'Unit cost', 'Unit price', 'Gross profit', 'Unit sale price']

For each column of this data frame we will answer the questions above.

<h2><center>Year</center></h2>

In [35]:
df['Year'].unique()

array([2004, 2005, 2006, 2007], dtype=int64)

1) The attribute type of the year is ordered and more specifically it is quantitative,
2) The range are the years between 2004 and 2007,
3) The unites that are used are: 2004, 2005, 2006, 2007,
4) integer precision,
5) The lifespan of each unit is one year (365 days),
6) There are no outliers

<h2><center>Product line</center></h2>

In [36]:
df['Product line'].unique()

array(['Camping Equipment', 'Personal Accessories', 'Outdoor Protection',
       'Golf Equipment', 'Mountaineering Equipment'], dtype=object)

1) The attribute type of the Product line is categorical,
2) The there are 6 elements,
3) The unites that are used are Camping Equipment, Personal Accessories, Outdoor Protection, Golf Equipment, Mountaineering Equipment,
4) -,
5) -,
6) There are no outliers

<h2><center>Product type</center></h2>

In [44]:
df['Product type'].unique()

array(['Cooking Gear', 'Tents', 'Sleeping Bags', 'Packs', 'Lanterns',
       'Watches', 'Eyewear', 'Knives', 'Binoculars', 'Navigation',
       'Insect Repellents', 'Sunscreen', 'First Aid', 'Irons', 'Woods',
       'Putters', 'Golf Accessories', 'Rope', 'Safety',
       'Climbing Accessories', 'Tools'], dtype=object)

In [45]:
df['Product type'].unique().shape

(21,)

1) The attribute type of the Product type is categorical,
2) There are 21 unites,
3) The unites that are used are: Cooking Gear, Tents, Sleeping Bags, Packs, Lanterns,Watches, Eyewear, Knives, Binoculars, Navigation,Insect Repellents, Sunscreen, First Aid, Irons, Woods,Putters, Golf Accessories, Rope, Safety,Climbing Accessories, Tools,
4) -,
5) -,
6) There are no outliers

<h2><center>Product</center></h2>

In [46]:
df['Product'].unique()

array(['TrailChef Water Bag', 'TrailChef Canteen', 'TrailChef Kitchen Kit',
       'TrailChef Cup', 'TrailChef Cook Set', 'TrailChef Deluxe Cook Set',
       'TrailChef Single Flame', 'TrailChef Double Flame',
       'TrailChef Kettle', 'TrailChef Utensils', 'Star Lite', 'Star Dome',
       'Star Gazer 2', 'Star Gazer 3', 'Star Gazer 6', 'Star Peg',
       'Hibernator Lite', 'Hibernator', 'Hibernator Extreme',
       'Hibernator Self - Inflating Mat', 'Hibernator Pad',
       'Hibernator Pillow', 'Hibernator Camp Cot',
       'Canyon Mule Climber Backpack', 'Canyon Mule Weekender Backpack',
       'Canyon Mule Journey Backpack', 'Canyon Mule Extreme Backpack',
       'Canyon Mule Cooler', 'Canyon Mule Carryall', 'Firefly Lite',
       'Firefly Mapreader', 'Firefly 2', 'Firefly 4', 'Firefly Extreme',
       'Firefly Multi-light', 'EverGlow Single', 'EverGlow Double',
       'EverGlow Kerosene', 'EverGlow Butane', 'EverGlow Lamp',
       'Flicker Lantern', 'Mountain Man Analog', 'Mountain Man Digital',
       'Mountain Man Deluxe', 'Mountain Man Combination',
       'Mountain Man Extreme', 'Venue', 'Infinity', 'Lux', 'Sam', 'TX',
       'Legend', 'Kodiak', 'Zodiak', 'Polar Sun', 'Polar Ice',
       'Polar Sports', 'Polar Wave', 'Polar Extreme', 'Bella', 'Capri',
       'Cat Eye', 'Dante', 'Fairway', 'Inferno', 'Maximus', 'Trendi',
       'Zone', 'Hawk Eye', 'Retro', 'Single Edge', 'Double Edge',
       'Edge Extreme', 'Bear Edge', 'Bear Survival Edge', 'Max Gizmo',
       'Pocket Gizmo', 'Seeker 35', 'Seeker 50', 'Seeker Extreme',
       'Seeker Mini', 'Opera Vision', 'Ranger Vision', 'Glacier Basic',
       'Glacier Deluxe', 'Glacier GPS', 'Glacier GPS Extreme',
       'Trail Master', 'Trail Scout', 'Trail Star', 'Astro Pilot',
       'Sky Pilot', 'Auto Pilot', 'BugShield Natural', 'BugShield Spray',
       'BugShield Lotion Lite', 'BugShield Lotion', 'BugShield Extreme',
       'Sun Blocker', 'Sun Shelter Stick', 'Sun Shelter 15',
       'Sun Shelter 30', 'Sun Shield', 'Compact Relief Kit',
       'Deluxe Family Relief Kit', 'Calamine Relief', 'Aloe Relief',
       'Insect Bite Relief', 'Hailstorm Steel Irons',
       'Hailstorm Titanium Irons', 'Lady Hailstorm Steel Irons',
       'Lady Hailstorm Titanium Irons', 'Hailstorm Titanium Woods Set',
       'Hailstorm Steel Woods Set', 'Lady Hailstorm Titanium Woods Set',
       'Lady Hailstorm Steel Woods Set', 'Course Pro Putter',
       'Blue Steel Putter', 'Blue Steel Max Putter',
       'Course Pro Golf and Tee Set', 'Course Pro Umbrella',
       'Course Pro Golf Bag', 'Course Pro Gloves', 'Husky Rope 50',
       'Husky Rope 60', 'Husky Rope 100', 'Husky Rope 200',
       'Granite Climbing Helmet', 'Husky Harness', 'Husky Harness Extreme',
       'Granite Signal Mirror', 'Granite Carabiner', 'Granite Belay',
       'Granite Pulley', 'Firefly Climbing Lamp', 'Firefly Charger',
       'Firefly Rechargeable Battery', 'Granite Chalk Bag', 'Granite Ice',
       'Granite Hammer', 'Granite Shovel', 'Granite Grip', 'Granite Axe',
       'Granite Extreme'], dtype=object)

In [47]:
df['Product'].unique().shape

(144,)

1) The attribute type of the Product type is categorical,
2) There are 144 unites,
3) The unites that are used are: TrailChef Water Bag, TrailChef Canteen, TrailChef Kitchen Kit,
       TrailChef Cup, TrailChef Cook Set, TrailChef Deluxe Cook Set,
       TrailChef Single Flame', 'TrailChef Double Flame',
       TrailChef Kettle, TrailChef Utensils, Star Lite, Star Dome,
       Star Gazer 2, Star Gazer 3, Star Gazer 6, Star Peg,
       Hibernator Lite, Hibernator, Hibernator Extreme,
       Hibernator Self - Inflating Mat, Hibernator Pad,
       Hibernator Pillow, Hibernator Camp Cot,
       Canyon Mule Climber Backpack, Canyon Mule Weekender Backpack,
       Canyon Mule Journey Backpack ,..., Canyon Mule Extreme Backpack,
       Canyon Mule Cooler, Canyon Mule Carryall,
       Granite Pulley, Firefly Climbing Lamp, Firefly Charger,
       Firefly Rechargeable Battery, Granite Chalk Bag, Granite Ice,
       Granite Hammer, Granite Shovel, Granite Grip, Granite Axe,
       Granite Extreme,
4) -,
5) -,
6) There are no outliers

<h2><center>Order method type</center></h2>

In [48]:
df['Order method type'].unique()

array(['Telephone', 'Sales visit', 'Web', 'Special', 'Mail', 'E-mail',
       'Fax'], dtype=object)

1) The attribute type of the year is ordered and more specifically it is quantitative,
2) The there are 7 different units,
3) The unites that are used are: Telephone, Sales visit, Web, Special, Mail, E-mail, Fax,
4)  -,
5)  -,
6)  -

<h2><center>Retailer country</center></h2>

In [49]:
df['Retailer country'].unique()

array(['United States', 'Canada', 'Mexico', 'Brazil', 'Japan', 'Korea',
       'China', 'Singapore', 'Australia', 'Netherlands', 'Sweden',
       'Finland', 'Denmark', 'France', 'Germany', 'United Kingdom',
       'Belgium', 'Switzerland', 'Austria', 'Italy', 'Spain'], dtype=object)

1) The attribute type is categorical,
2) The range are the years between 2004 and 2007,
3) The unites that are used are: United States, Canada, Mexico, Brazil, Japan, Korea,
       China, Singapore, Australia, Netherlands, Sweden,
       Finland, Denmark, France, Germany, United Kingdom,
       Belgium, Switzerland, Austria, Italy, Spain,
4) -,
5) The lifespan infinite,
6) There are no outliers

<h2><center>Revenue</center></h2>

In [77]:
df0=df['Revenue'].fillna(0)

In [78]:
df0.unique().max()

10054289.0

In [79]:
df0.unique().min()

0.0

In [80]:
df['Revenue'].unique()

array([ 315044.33,   13444.68,        nan, ...,  588468.  ,  331512.  ,
         96216.  ])

1) The attribute type of the revenue is ordered and more specifically it is quantitative,
2) The range are the years between 0.0 and 10054289.0 and it also contains nans,
3) The unites that are used are: 315044.33,   13444.68,        nan, ...,  588468.  ,  331512.  ,
         96216.,
4) float precision,
5) -,
6) There are no outliers the NAN can consider as outliers

<h2><center>Product cost</center></h2>

In [81]:
df['Product cost'].min()

5.7599999999999998

In [82]:
df['Product cost'].max()

6756852.7800000003

In [94]:
df['Product cost'].unique().shape

(22988,)

1) The attribute type of the revenue is ordered and more specifically it is quantitative,
2) The range are the years between 5.7599999999999998 and 6756852.7800000003 and it also contains nans,
3) There are 22988 unique unites: 158371.76,    6298.8 ,        nan, ...,  202920.24,   58894.32,
        131605.08,
4) float precision,
5) -,
6) There are no outliers the NAN can consider as outliers

<h2><center>Quantity</center></h2>

In [86]:
df['Quantity'].max()

313628.0

In [87]:
df['Quantity'].min()

1.0

In [93]:
df['Quantity'].unique()

array([ 66385.,   2172.,     nan, ...,   4921.,   3664.,   7743.])

1) The attribute type of the revenue is ordered and more specifically it is quantitative,
2) The range are the years between 1.0 and 313628.0 and it also contains nans,
3) The unites that are used are:  66385.,   2172.,     nan, ...,   4921.,   3664.,   7743.,
4) float precision,
5) -,
6) There are no outliers the NAN can consider as outliers

<h2><center>Unit cost</center></h2>

In [96]:
df['Unit cost'].unique()

array([  2.55285714,   2.9       ,          nan, ...,  21.16153846,
        21.11666667,  18.2       ])

In [98]:
df['Unit cost'].min()

0.84999999999999998

In [99]:
df['Unit cost'].max()

690.0

1) The attribute type is ordered and more specifically it is quantitative,
2) The range are the years between 0.84999999999999998 and 690.0,
3) The unites that are used are:  2.55285714,   2.9       ,          nan, ...,  21.16153846,
        21.11666667,  18.2,
4) foat precision,
5) -,
6) The outliers are the Nan

<h2><center>Unit price</center></h2>

In [100]:
df['Unit price'].unique()

array([   6.59,     nan,   12.53, ...,  315.4 ,    4.94,   65.45])

In [101]:
df['Unit cost'].max()

690.0

In [102]:
df['Unit cost'].min()

0.84999999999999998

1) The attribute type of the year is ordered and more specifically it is quantitative,
2) The range are the years between 690.0 and 0.84999999999999998,
3) The unites that are used are: 6.59,     nan,   12.53, ...,  315.4 ,    4.94,   65.45,
4) float precision,
5) -,
6) nan

<h2><center>Gross profit</center></h2>

In [104]:
df['Gross profit'].unique()

array([ 156672.57,    7145.88,        nan, ...,  128591.76,   37321.68,
         83398.92])

In [105]:
df['Unit price'].max()

1359.72

In [106]:
df['Unit price'].min()

2.0600000000000001

1) The attribute type of the year is ordered and more specifically it is quantitative,
2) The range are the years between 2.0600000000000001 and 1359.72,
3) The unites that are used are: 156672.57,    7145.88,        nan, ...,  128591.76,   37321.68,
         83398.92,
4) float precision,
5) -,
6) nan

<h2><center>Unit sale price</center></h2>

In [107]:
df['Unit sale price'].unique()

array([  5.19571429,   6.19      ,          nan, ...,  38.58181818,
        38.47272727,  38.57142857])

In [108]:
df['Gross profit'].max()

3521097.7599999998

In [109]:
df['Gross profit'].min()

-18159.599999999999

1) The attribute type of the year is ordered and more specifically it is quantitative,
2) The range are the years between -18159.599999999999 and 3521097.7599999998,
3) The unites that are used are:  5.19571429,   6.19      ,          nan, ...,  38.58181818,
        38.47272727,  38.57142857,
4) float precision,
5) -,
6) nan

## 7) Identification of relationship and groupings