In [70]:
import pandas as pd
import matplotlib.pyplot as plt

In [71]:
df = pd.read_csv("WA_Retail-SalesMarketing_-ProfitCost.csv")
#X = df_see.drop("gene",axis=1).values.astype("int") # to drop the gene column and convert data to int
samples = df.columns
df.head()

,Year,Product line,Product type,Product,Order method type,Retailer country,Revenue,Planned revenue,Product cost,Quantity,Unit cost,Unit price,Gross profit,Unit sale price
0,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,United States,315044.33,437477.15,158371.76,66385.0,2.552857,6.59,156672.57,5.195714
1,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Canada,13444.68,14313.48,6298.80,2172.0,2.900000,6.59,7145.88,6.190000
2,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Mexico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Brazil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Japan,181120.24,235236.64,89413.06,35696.0,2.657000,6.59,91707.18,5.488000

In [163]:
year_profit = df[df['Year']==2007]
year_profit = year_profit[['Year','Product line', 'Gross profit']].groupby(['Year', 'Product line']).sum()
year_profit['Gross profit'] = np.round(year_profit['Gross profit']/1000000, 2)
year_profit

                               Gross profit
Year Product line
2007 Camping Equipment               132.63
     Golf Equipment                   86.64
     Mountaineering Equipment         56.72
     Outdoor Protection                2.75
     Personal Accessories            186.54

In [131]:
year_profit.to_csv('data/year_product_profit.csv')

In [164]:
df_2007 = df[df["Year"]==2007]

In [49]:
df_2007 = df_2007.fillna(0)

In [10]:
gross_by_product_line = df_2007.groupby("Product line",as_index = False).sum()[["Product line","Revenue","Gross profit"]]

In [18]:
gross_by_product_line.to_csv("data/gross_by_product_line.csv")

In [19]:
gross_by_product_line

               Product line       Revenue  Gross profit
0         Camping Equipment  3.529103e+08  1.326309e+08
1            Golf Equipment  1.747408e+08  8.664269e+07
2  Mountaineering Equipment  1.415206e+08  5.671881e+07
3        Outdoor Protection  4.471025e+06  2.745257e+06
4      Personal Accessories  4.436934e+08  1.865352e+08

In [64]:
gross_by_country = df_2007.groupby("Retailer country",as_index = False).sum()[["Retailer country","Revenue","Gross profit"]]
gross_by_country['Gross profit'] = np.round(gross_by_country['Gross profit']/1000000,2)
gross_by_country = gross_by_country.sort_values(['Gross profit'], ascending=False)
gross_by_country

   Retailer country       Revenue  Gross profit
20    United States  1.913121e+08         79.73
11            Japan  8.318825e+07         34.83
4            Canada  7.332521e+07         30.48
5             China  7.063338e+07         29.39
19   United Kingdom  6.488166e+07         27.00
8            France  6.420990e+07         26.80
9           Germany  5.742183e+07         23.89
15        Singapore  4.711469e+07         19.62
12            Korea  4.701495e+07         19.48
10            Italy  4.662580e+07         19.46
14      Netherlands  4.621297e+07         19.12
7           Finland  4.474672e+07         18.52
16            Spain  4.167992e+07         17.39
13           Mexico  3.840177e+07         15.87
0         Australia  3.589319e+07         14.88
1           Austria  3.380179e+07         14.19
18      Switzerland  3.298171e+07         13.83
3            Brazil  3.144084e+07         13.12
2           Belgium  2.818684e+07         11.70
17           Sweden  2.630800e+07         11.00
6           Denmark  1.195480e+07          4.97

In [67]:
gross_by_country.to_csv("data/gross_by_country.csv", index=False)

In [12]:
country_product_gross_6= df_2007.groupby(["Retailer country","Product line"],as_index = False).sum()[["Retailer country","Product line","Gross profit"]]

In [17]:
import numpy as np
table = pd.pivot_table(country_product_gross_6, values='Gross profit', index=['Retailer country'],columns=['Product line'], aggfunc=np.sum)
table

Product line,Camping Equipment,Golf Equipment,Mountaineering Equipment,Outdoor Protection,Personal Accessories
Retailer country,,,,,
Australia,4888856.36,3226791.41,2159714.46,105535.82,4500950.49
Austria,3712174.43,2488395.00,1570293.90,80261.09,6342837.54
Belgium,3354655.37,2146463.97,1429134.07,68918.04,4701049.43
Brazil,3621557.30,2344466.53,1518427.75,76005.58,5560395.11
Canada,9114473.39,5647517.28,3868103.49,188722.11,11657454.84
China,8399607.75,5599713.27,3623874.77,178277.78,11590186.66
Denmark,1355084.17,276050.59,248954.68,28197.91,3063185.51
Finland,6030428.42,3985209.25,2448051.37,118175.56,5935627.29
France,7487325.12,4713372.15,3150605.99,155181.34,11294003.60
Germany,6938048.65,4511637.02,3005723.20,144789.67,9290086.04
Italy,5539812.39,3868158.69,2469385.50,115973.90,7466497.75
Japan,8862810.79,5883496.20,3852248.82,185165.16,16042077.15
Korea,6256785.76,4237951.51,2708968.37,129868.36,6148222.27
Mexico,5415593.71,3546520.11,2311666.42,114330.12,4478387.90
Netherlands,5848549.40,3631426.71,2325760.81,110592.20,7204098.75
Singapore,5661253.22,3534015.65,2468739.07,118644.53,7839522.04
Spain,5197574.03,3540352.01,2346184.87,104956.84,6200067.07
Sweden,2452843.85,2387892.66,1387433.97,48351.30,4722094.91
Switzerland,3614162.68,2330265.45,1559282.28,77853.96,6248936.73
United Kingdom,7760372.54,4876159.76,3224940.67,154251.76,10988954.40
United States,21118927.32,13866839.68,9041319.73,441204.15,35260523.59

In [20]:
table.to_csv("data/country_product_gross_6.csv")

In [77]:
df = df.fillna(0)

In [83]:
year_rev_planned_cost_7 = df[['Year','Retailer country', 'Revenue',"Planned revenue","Product cost"]].groupby(["Year", 'Retailer country']).sum()

In [84]:
year_rev_planned_cost_7

                            Revenue  Planned revenue  Product cost
Year Retailer country
2004 Australia         0.000000e+00     0.000000e+00  0.000000e+00
     Austria           3.034279e+07     3.149770e+07  1.799133e+07
     Belgium           1.607305e+07     1.664005e+07  9.454628e+06
     Brazil            2.921101e+07     3.071563e+07  1.735592e+07
     Canada            5.927168e+07     6.251953e+07  3.542304e+07
     China             6.842169e+07     7.280656e+07  4.102661e+07
     Denmark           1.411449e+07     1.491245e+07  8.551805e+06
     Finland           3.635333e+07     3.874676e+07  2.195313e+07
     France            6.704586e+07     7.079660e+07  3.991834e+07
     Germany           6.153937e+07     6.518942e+07  3.676908e+07
     Italy             3.201733e+07     3.395965e+07  1.904849e+07
     Japan             7.578111e+07     8.034041e+07  4.531864e+07
     Korea             4.215117e+07     4.531872e+07  2.534215e+07
     Mexico            2.781741e+07     2.980385e+07  1.669699e+07
     Netherlands       3.538528e+07     3.759823e+07  2.120978e+07
     Singapore         4.136057e+07     4.416721e+07  2.480853e+07
     Spain             2.830270e+07     3.005829e+07  1.687135e+07
     Sweden            1.477591e+07     1.554203e+07  8.892112e+06
     Switzerland       0.000000e+00     0.000000e+00  0.000000e+00
     United Kingdom    5.828646e+07     6.190996e+07  3.502228e+07
     United States     1.761016e+08     1.859521e+08  1.050807e+08
2005 Australia         2.560704e+07     2.703291e+07  1.524755e+07
     Austria           3.456809e+07     3.599458e+07  2.042693e+07
     Belgium           3.039630e+07     3.200132e+07  1.807864e+07
     Brazil            3.423488e+07     3.591614e+07  2.039862e+07
     Canada            7.542839e+07     7.869236e+07  4.496803e+07
     China             7.908049e+07     8.325753e+07  4.716304e+07
     Denmark           1.589327e+07     1.648230e+07  9.459210e+06
     Finland           4.782665e+07     5.045300e+07  2.857912e+07
     France            7.223782e+07     7.572150e+07  4.296632e+07
...                             ...              ...           ...
2006 Korea             6.071421e+07     6.387845e+07  3.557434e+07
     Mexico            5.860426e+07     6.184834e+07  3.427865e+07
     Netherlands       5.830177e+07     6.099129e+07  3.390300e+07
     Singapore         6.094290e+07     6.372264e+07  3.563925e+07
     Spain             5.584623e+07     5.838755e+07  3.253567e+07
     Sweden            3.036053e+07     3.151373e+07  1.758693e+07
     Switzerland       4.146361e+07     4.301502e+07  2.409526e+07
     United Kingdom    8.492083e+07     8.847432e+07  4.950181e+07
     United States     2.580366e+08     2.684261e+08  1.506399e+08
2007 Australia         3.589319e+07     3.793282e+07  2.101134e+07
     Austria           3.380179e+07     3.530844e+07  1.960783e+07
     Belgium           2.818684e+07     2.952803e+07  1.648662e+07
     Brazil            3.144084e+07     3.291407e+07  1.831999e+07
     Canada            7.332521e+07     7.654090e+07  4.284894e+07
     China             7.063338e+07     7.428215e+07  4.124172e+07
     Denmark           1.195480e+07     1.236968e+07  6.983327e+06
     Finland           4.474672e+07     4.722685e+07  2.622922e+07
     France            6.420990e+07     6.723441e+07  3.740941e+07
     Germany           5.742183e+07     6.028223e+07  3.353155e+07
     Italy             4.662580e+07     4.900111e+07  2.716597e+07
     Japan             8.318825e+07     8.686861e+07  4.836246e+07
     Korea             4.701495e+07     4.969256e+07  2.753315e+07
     Mexico            3.840177e+07     4.067999e+07  2.253527e+07
     Netherlands       4.621297e+07     4.855251e+07  2.709254e+07
     Singapore         4.711469e+07     4.946803e+07  2.749251e+07
     Spain             4.167992e+07     4.389279e+07  2.429078e+07
     Sweden            2.630800e+07     2.750123e+07  1.530938e+07
     Switzerland       3.298171e+07     3.445872e+07  1.915121e+07
     United Kingdom    6.488166e+07     6.800117e+07  3.787698e+07
     United States     1.913121e+08     2.002146e+08  1.115833e+08

[84 rows x 3 columns]

In [85]:
year_rev_planned_cost_7.to_csv("data/year_country_rev_planned_cost_7.csv")

In [170]:
df_2007 = df[df["Year"]==2007]
product_line = df['Product line'].unique()
max_product_line = []
for pl in product_line:
    df_2007 = df[df['Product line'] == pl]
    df_2007 = df_2007[['Product line', 'Product', 'Gross profit']]
    df_2007 = df_2007.fillna(0)
    df_2007 = df_2007.groupby(['Product line', 'Product']).sum()
    
    max_product_line.append(df_2007['Gross profit'].argmax())
max_product_line
df_max_line = pd.DataFrame.from_records(max_product_line, columns=['Product line', 'Product'])
df_max_line
df_max_line.to_csv('data/max_product_line.csv')

In [171]:
df_2007 = df[df["Year"]==2007]
product_line = df['Retailer country'].unique()
max_product_line = []
for pl in product_line:
    df_2007 = df[df['Retailer country'] == pl]
    df_2007 = df_2007[['Retailer country', 'Product', 'Gross profit']]
    df_2007 = df_2007.fillna(0)
    df_2007 = df_2007.groupby(['Retailer country', 'Product']).sum()
    
    max_product_line.append(df_2007['Gross profit'].argmax())
max_product_line
df_max_country = pd.DataFrame.from_records(max_product_line, columns=['Retailer country', 'Product'])
df_max_country
df_max_country.to_csv('data/max_country.csv')

In [155]:
df_2007

                                                      Gross profit
Product line         Product
Camping Equipment    Canyon Mule Carryall               2914220.70
                     Canyon Mule Climber Backpack       2945694.12
                     Canyon Mule Cooler                 3422344.91
                     Canyon Mule Extreme Backpack       6479722.27
                     Canyon Mule Journey Backpack       9476402.34
                     Canyon Mule Weekender Backpack     7611492.70
                     EverGlow Butane                     616166.19
                     EverGlow Double                     252011.24
                     EverGlow Kerosene                   770245.14
                     EverGlow Lamp                      2535774.80
                     EverGlow Single                    1742423.36
                     Firefly 2                          1194016.85
                     Firefly 4                           697623.32
                     Firefly Extreme                     837381.45
                     Firefly Lite                        934626.92
                     Firefly Mapreader                  1218862.08
                     Firefly Multi-light                 524187.04
                     Flicker Lantern                     796009.47
                     Hibernator                         6075911.08
                     Hibernator Camp Cot                2525786.40
                     Hibernator Extreme                 6987320.52
                     Hibernator Lite                    3713953.47
                     Hibernator Pad                     1703365.16
                     Hibernator Pillow                   745086.69
                     Hibernator Self - Inflating Mat    5820363.89
                     Star Dome                          7680448.17
                     Star Gazer 2                       9245993.25
                     Star Gazer 3                       6442887.68
                     Star Gazer 6                       2694048.14
                     Star Lite                         10646810.37
...                                                            ...
Personal Accessories Maximus                           12899357.43
                     Mountain Man Analog                1255206.04
                     Mountain Man Combination            406282.82
                     Mountain Man Deluxe                2269799.48
                     Mountain Man Digital                516843.87
                     Mountain Man Extreme                975030.69
                     Opera Vision                             0.00
                     Pocket Gizmo                       2675373.35
                     Polar Extreme                       347639.66
                     Polar Ice                          1469614.92
                     Polar Sports                       5183450.27
                     Polar Sun                          3954502.84
                     Polar Wave                          322680.47
                     Ranger Vision                      5622674.40
                     Retro                             10378181.86
                     Sam                                4656290.08
                     Seeker 35                          2235849.84
                     Seeker 50                          1463519.42
                     Seeker Extreme                     2238770.38
                     Seeker Mini                        1410367.58
                     Single Edge                        3136929.61
                     Sky Pilot                          1404870.95
                     TX                                 8306303.78
                     Trail Master                             0.00
                     Trail Scout                              0.00
                     Trail Star                               0.00
                     Trendi                             2904664.80
                     Venue                              4227214.32
                     Zodiak                             2054978.88
                     Zone                               9434315.06

[144 rows x 1 columns]

In [134]:
order_type = df[df['Year']==2007]
order_type = order_type[['Product line', 'Order method type', 'Gross profit']]
order_type = order_type.groupby(['Product line', 'Order method type']).sum()
order_type['Gross profit'] = np.round(order_type['Gross profit']/1000000,2)
order_type

                                            Gross profit
Product line             Order method type
Camping Equipment        E-mail                     1.87
                         Fax                        0.80
                         Mail                       0.00
                         Sales visit                9.68
                         Special                    0.44
                         Telephone                  2.97
                         Web                      116.87
Golf Equipment           E-mail                     2.17
                         Fax                        1.53
                         Mail                       0.00
                         Sales visit                4.33
                         Special                    0.00
                         Telephone                  0.38
                         Web                       78.24
Mountaineering Equipment E-mail                     1.26
                         Fax                        0.85
                         Mail                       0.00
                         Sales visit                5.27
                         Special                    0.13
                         Telephone                  2.24
                         Web                       46.97
Outdoor Protection       E-mail                     0.03
                         Fax                        0.01
                         Mail                       0.00
                         Sales visit                0.09
                         Special                    0.00
                         Telephone                  0.05
                         Web                        2.56
Personal Accessories     E-mail                     1.63
                         Fax                        0.31
                         Mail                       0.19
                         Sales visit                3.12
                         Special                    0.05
                         Telephone                  1.31
                         Web                      179.92

In [136]:
order_type.to_csv("data/order_type_product.csv")

In [138]:
bar_product_country_profit = df[df['Year']==2007]
bar_product_country_profit = bar_product_country_profit[['Retailer country', 'Product line', 'Gross profit']]
bar_product_country_profit = bar_product_country_profit.groupby(['Retailer country', 'Product line']).sum()
bar_product_country_profit['Gross profit'] = np.round(bar_product_country_profit['Gross profit']/1000000,2)
bar_product_country_profit

                                           Gross profit
Retailer country Product line
Australia        Camping Equipment                 4.89
                 Golf Equipment                    3.23
                 Mountaineering Equipment          2.16
                 Outdoor Protection                0.11
                 Personal Accessories              4.50
Austria          Camping Equipment                 3.71
                 Golf Equipment                    2.49
                 Mountaineering Equipment          1.57
                 Outdoor Protection                0.08
                 Personal Accessories              6.34
Belgium          Camping Equipment                 3.35
                 Golf Equipment                    2.15
                 Mountaineering Equipment          1.43
                 Outdoor Protection                0.07
                 Personal Accessories              4.70
Brazil           Camping Equipment                 3.62
                 Golf Equipment                    2.34
                 Mountaineering Equipment          1.52
                 Outdoor Protection                0.08
                 Personal Accessories              5.56
Canada           Camping Equipment                 9.11
                 Golf Equipment                    5.65
                 Mountaineering Equipment          3.87
                 Outdoor Protection                0.19
                 Personal Accessories             11.66
China            Camping Equipment                 8.40
                 Golf Equipment                    5.60
                 Mountaineering Equipment          3.62
                 Outdoor Protection                0.18
                 Personal Accessories             11.59
...                                                 ...
Singapore        Camping Equipment                 5.66
                 Golf Equipment                    3.53
                 Mountaineering Equipment          2.47
                 Outdoor Protection                0.12
                 Personal Accessories              7.84
Spain            Camping Equipment                 5.20
                 Golf Equipment                    3.54
                 Mountaineering Equipment          2.35
                 Outdoor Protection                0.10
                 Personal Accessories              6.20
Sweden           Camping Equipment                 2.45
                 Golf Equipment                    2.39
                 Mountaineering Equipment          1.39
                 Outdoor Protection                0.05
                 Personal Accessories              4.72
Switzerland      Camping Equipment                 3.61
                 Golf Equipment                    2.33
                 Mountaineering Equipment          1.56
                 Outdoor Protection                0.08
                 Personal Accessories              6.25
United Kingdom   Camping Equipment                 7.76
                 Golf Equipment                    4.88
                 Mountaineering Equipment          3.22
                 Outdoor Protection                0.15
                 Personal Accessories             10.99
United States    Camping Equipment                21.12
                 Golf Equipment                   13.87
                 Mountaineering Equipment          9.04
                 Outdoor Protection                0.44
                 Personal Accessories             35.26

[105 rows x 1 columns]

In [139]:
bar_product_country_profit.to_csv('data/donut_product_country_profit.csv')