In [6]:
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
df = pd.read_csv("WA_Retail-SalesMarketing_-ProfitCost.csv")
#X = df_see.drop("gene",axis=1).values.astype("int") # to drop the gene column and convert data to int
samples = df.columns
df.head()

,Year,Product line,Product type,Product,Order method type,Retailer country,Revenue,Planned revenue,Product cost,Quantity,Unit cost,Unit price,Gross profit,Unit sale price
0,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,United States,315044.33,437477.15,158371.76,66385.0,2.552857,6.59,156672.57,5.195714
1,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Canada,13444.68,14313.48,6298.80,2172.0,2.900000,6.59,7145.88,6.190000
2,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Mexico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Brazil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Japan,181120.24,235236.64,89413.06,35696.0,2.657000,6.59,91707.18,5.488000

In [3]:
year_profit = df[['Year','Gross profit']].groupby('Year').sum()
year_profit

      Gross profit
Year
2004  3.676179e+08
2005  4.686837e+08
2006  6.232606e+08
2007  4.652728e+08

In [4]:
year_profit.to_csv('data/year_profit.csv')

In [8]:
df_2007 = df[df["Year"]==2007]

In [9]:
df_2007 = df_2007.fillna(0)

In [10]:
gross_by_product_line = df_2007.groupby("Product line",as_index = False).sum()[["Product line","Revenue","Gross profit"]]

In [18]:
gross_by_product_line.to_csv("data/gross_by_product_line.csv")

In [19]:
gross_by_product_line

               Product line       Revenue  Gross profit
0         Camping Equipment  3.529103e+08  1.326309e+08
1            Golf Equipment  1.747408e+08  8.664269e+07
2  Mountaineering Equipment  1.415206e+08  5.671881e+07
3        Outdoor Protection  4.471025e+06  2.745257e+06
4      Personal Accessories  4.436934e+08  1.865352e+08

In [12]:
country_product_gross_6= df_2007.groupby(["Retailer country","Product line"],as_index = False).sum()[["Retailer country","Product line","Gross profit"]]

In [17]:
import numpy as np
table = pd.pivot_table(country_product_gross_6, values='Gross profit', index=['Retailer country'],columns=['Product line'], aggfunc=np.sum)
table

Product line,Camping Equipment,Golf Equipment,Mountaineering Equipment,Outdoor Protection,Personal Accessories
Retailer country,,,,,
Australia,4888856.36,3226791.41,2159714.46,105535.82,4500950.49
Austria,3712174.43,2488395.00,1570293.90,80261.09,6342837.54
Belgium,3354655.37,2146463.97,1429134.07,68918.04,4701049.43
Brazil,3621557.30,2344466.53,1518427.75,76005.58,5560395.11
Canada,9114473.39,5647517.28,3868103.49,188722.11,11657454.84
China,8399607.75,5599713.27,3623874.77,178277.78,11590186.66
Denmark,1355084.17,276050.59,248954.68,28197.91,3063185.51
Finland,6030428.42,3985209.25,2448051.37,118175.56,5935627.29
France,7487325.12,4713372.15,3150605.99,155181.34,11294003.60
Germany,6938048.65,4511637.02,3005723.20,144789.67,9290086.04
Italy,5539812.39,3868158.69,2469385.50,115973.90,7466497.75
Japan,8862810.79,5883496.20,3852248.82,185165.16,16042077.15
Korea,6256785.76,4237951.51,2708968.37,129868.36,6148222.27
Mexico,5415593.71,3546520.11,2311666.42,114330.12,4478387.90
Netherlands,5848549.40,3631426.71,2325760.81,110592.20,7204098.75
Singapore,5661253.22,3534015.65,2468739.07,118644.53,7839522.04
Spain,5197574.03,3540352.01,2346184.87,104956.84,6200067.07
Sweden,2452843.85,2387892.66,1387433.97,48351.30,4722094.91
Switzerland,3614162.68,2330265.45,1559282.28,77853.96,6248936.73
United Kingdom,7760372.54,4876159.76,3224940.67,154251.76,10988954.40
United States,21118927.32,13866839.68,9041319.73,441204.15,35260523.59

In [20]:
table.to_csv("data/country_product_gross_6.csv")

In [33]:
year_rev_planned_cost_7 = df[['Year','Revenue',"Planned revenue","Product cost"]].groupby("Year").sum()

In [34]:
year_rev_planned_cost_7

           Revenue  Planned revenue  Product cost
Year
2004  9.143528e+08     9.684751e+08  5.467349e+08
2005  1.159196e+09     1.218177e+09  6.905119e+08
2006  1.495891e+09     1.560739e+09  8.726305e+08
2007  1.117336e+09     1.171951e+09  6.520635e+08

In [36]:
year_rev_planned_cost_7.to_csv("data/year_rev_planned_cost_7.csv")

In [44]:
df_2007 = df[df["Year"]==2007]
df_2007 = df_2007[['Product', 'Gross profit']]
df_2007 = df_2007.fillna(0)
df_2007 = df_2007.groupby('Product').sum()
maxim_name = df_2007['Gross profit'].argmax()
minim_name = df_2007['Gross profit'].argmin()
maxim = df_2007['Gross profit']
maxim = maxim[maxim_name]
minim = df_2007['Gross profit']
minim = minim[minim_name]
print("Most profitable in 2007: ",maxim_name, maxim)
print("Worst profitable in 2007: ",minim_name, minim)
df_2007[df_2007['Gross profit']<= 0]

Most profitable in 2007:  Hailstorm Titanium Woods Set 15323104.12
Worst profitable in 2007:  Opera Vision 0.0

              Gross profit
Product
Opera Vision           0.0
Trail Master           0.0
Trail Scout            0.0
Trail Star             0.0